[Desktop Entry]
Version=1.0
Type=Application
Name=nitrogen-wallpaper
Comment=Set wallpaper with nitrogen
Exec=nitrogen --restore
StartupNotify=false
Terminal=false
NoDisplay=true
Hidden=false
