[Desktop Entry]
Type=Application
Name=polkit-authentication-agent
Comment=Start polkit authentication agent
Exec=/usr/libexec/polkit-mate-authentication-agent-1
Terminal=false
NoDisplay=true
