[Desktop Entry]
Version=1.0
Type=Application
Name=xss-lock
Comment=Start xss-lock and set locker
Exec=sh -c "xss-lock -l -- i3lock -n -c 202a36"
StartupNotify=false
Terminal=false
NoDisplay=true
