/*********************************************
 * Rofi Dmenu-Yaru-Dark-MATE Theme
 ********************************************/

/* theme settings */
@import "~/.config/rofi/themes/dmenu-style-settings.rasi"

/* theme colors */
* {
    background-color:    #1e1e1e;
    selected-background: #87a556;
    text-color:          #eeeeee;
    selected-text-color: #ffffff;
}
