/*********************************************
 * Rofi Dmenu-Adwaita-Darker Theme
 ********************************************/

/* theme settings */
@import "~/.config/rofi/themes/dmenu-style-settings.rasi"

/* theme colors */
* {
    background-color:    #1e1e1e;
    selected-background: #15539e;
    text-color:          #eeeeee;
    selected-text-color: #f4f4f4;
}
