/*********************************************************************
 * Rofi Dmenu-Mint-Mod-Green-Dark Theme
 *********************************************************************/

/* theme settings */
@import "~/.config/rofi/themes/dmenu-style-settings.rasi"

/* theme colors */
* {
    background-color:    #1e1e1e;
    selected-background: #35a854;
    text-color:          #eeeeee;
    selected-text-color: #ffffff;
}
