/*********************************************
 * Rofi Dmenu-Yaru-Orange-Light Theme
 ********************************************/

/* theme settings */
@import "~/.config/rofi/themes/dmenu-style-settings.rasi"

/* theme colors */
* {
    background-color:    #f7f7f7;
    selected-background: #e95420;
    text-color:          #303030;
    selected-text-color: #ffffff;
}
